@import "wa-breadcrumbs";
@import "wa-spinner";
@import "ui-router";
@import "link-effects";

@import "rl-char-class-tree";

body {
  min-width: 360px;
  overflow-x: hidden;
}

.md-dialog-container {
  z-index: 100;
}
