@import "wa-breadcrumbs";
@import "wa-spinner";
@import "ui-router";
@import "link-effects";

* {
  margin: 0;
}

body {
  min-width: 360px;
  overflow-x: hidden;
}

.md-dialog-container {
  z-index: 100;
}
